<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (prods.length > 0) { %>
                <ul>
                    <% prods.forEach(p => { %>
                        <li>
                            <P><strong>Name:</strong> <%= p.productData.title %> || <strong>Price:</strong> $<%= p.productData.price %> || <strong>Quantity:</strong> <%= p.quantity %></P>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= p.productData.id %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                        
                    <% }) %>
                </ul>
                <hr>
                <hr>
                <h2>Total price $<%= totalPrice %></h2>
            <% } else { %>
                <h1 style="padding-left: 8px;">Empty Cart</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>